@use './variables' as *;
@use './mixins' as *;

// footer html styling

.footer {
    background-color: $bandsite-black;
    color: $bandsite-white;

    @include tablet {
        position: relative;
    }

    &__container {
        @include flex-col;
        gap: 1.5rem;
        max-width: calc(100% - 3.2rem);
        padding-bottom: 1.6rem;
        margin: 0 auto;

        @include tablet {
            gap: 2rem;
            max-width: calc(100% - 7.2rem);
            padding-bottom: 2.6rem;
        }

        @include desktop {
            max-width: 102rem;
            gap: 1.5rem;
        }
    }

    &__socialbox {

        @include tablet {
            display: flex;
            align-items: baseline;
            gap: 4rem;
        }

        @include desktop {
            gap: 5rem;
        }
    }

    &__header {
        @include primary-heading;
        padding: 2.4rem 0 0;

        @include tablet {
            @include secondary-heading2;
            font-weight: 600;
            padding: 4.8rem 0 2.4rem;
        }
    }

    &__iconbox {
        display: flex;
        gap: 2.5rem;
        padding-top: 1rem;
    }

    &__icons {
        @include flex-col-center;
        width: 2.5rem;
        height: 2.5rem;
    }

    &__contactbox {
        @include flex-col;
        gap: 2rem;

        @include tablet {
            display: flex;
            flex-direction: row;
            gap: 6rem;
        }

        @include desktop {
            gap: 7rem;
        }
    }

    &__name,
    &__title {
        @include secondary-heading;
        font-weight: 600;
    }

    &__address {
        @include regular-text;
        font-style: normal;
        padding: 1.5rem 0 1rem;

        @include tablet {
            @include regular-text2;
            padding-top: 2rem;
        }
    }

    &__email, a {
        @include regular-text;
        color: $bandsite-white;
        font-style: normal;
        margin: 1rem 0;

        @include tablet {
            @include regular-text2;
        }
    }

    &__copyright {
    
        &--logo {
            margin: 3rem 0 1rem;

            @include tablet {
                margin: 0;
                position: absolute;
                left: 80%;
                top: 15%;
            }
        }
             
        &--text {
            @include label-text;

            @include tablet {
                @include regular-text2;
                padding-top: 2rem;
            }
        }
    }
}