@use './fonts' as *;
@use './variables' as *;

// mixins

@mixin default-font ($font-size: 1, $line-height) {
    font-family: $type-face, sans-serif; 
    font-size: $font-size; 
    line-height: $line-height; 
}

//mobile text styles

//primary page/section header
@mixin primary-heading {
    @include default-font(2.4rem, 3.2rem);
}

//sub header
@mixin secondary-heading {
    @include default-font(1.4rem, 2.2rem);
}

//body and foooter 
@mixin regular-text {
    @include default-font(1.3rem, 1.8rem);
}

// labels and buttons
@mixin label-text {
    @include default-font(1rem, 2rem);
}


//desktop & tablet text styles

//primary page/section header
@mixin primary-heading2 {
    @include default-font(6rem, 6.8rem);
}

//sub header
@mixin secondary-heading2 {
    @include default-font(3.6rem, 4.4rem);
}

//body and foooter 
@mixin regular-text2 {
    @include default-font(1.4rem, 2.2rem);
}

// labels and buttons
@mixin label-text2 {
    @include default-font(1.2rem, 2rem);
}

//flexbox mixin

@mixin flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
}

// media queries

@mixin tablet {
    @media (min-width: $tablet-breakpoint) {
      @content;
    }
}
  
@mixin desktop {
    @media (min-width: $desktop-breakpoint) {
        @content;
    }
}
