@use './fonts' as *;
@use './variables' as *;

// mixins

@mixin defaultFont ($font-size: 1, $line-height) {
    font-family: $type-face, sans-serif;  //variable
    font-size: $font-size;  //case by case
    line-height: $line-height; //case by case
}


//mobile text styles

//primary page/section header
@mixin primaryHeading {
    @include defaultFont(2.4rem, 3.2rem);
}

//sub header
@mixin secondaryHeading {
    @include defaultFont(1.4rem, 2.2rem);
}

//body and foooter 
@mixin regularText {
    @include defaultFont(1.3rem, 1.8rem);
}

// labels and buttons
@mixin labelText {
    @include defaultFont(1rem, 2rem);
}


//desktop & tablet text styles

//primary page/section header
@mixin primaryHeading2 {
    @include defaultFont(6rem, 6.8rem);
}

//sub header
@mixin secondaryHeading2 {
    @include defaultFont(3.6rem, 4.4rem);
}

//body and foooter 
@mixin regularText2 {
    @include defaultFont(1.4rem, 2.2rem);
}

// labels and buttons
@mixin labelText2 {
    @include defaultFont(1.2rem, 2rem);
}



// media queries

@mixin tablet {
    @media (min-width: $tablet-breakpoint) {
      @content;
    }
}
  
@mixin desktop {
    @media (min-width: $desktop-breakpoint) {
        @content;
    }
}
