@use './variables' as *;
@use './mixins' as *;

// header nav styling

.nav {
    background-color: $bandsite-black;
    color: $bandsite-white;

    &__container {
        @include flex-col-center;
        padding: 1.6rem 1.6rem 0;

        @include tablet {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            gap: 5rem;
            max-width: calc(100% - 7.2rem);
            padding: 2.4rem 0 0;
            margin: 0 auto;
        }

        @include desktop {
            gap: 8rem;
            max-width: 102rem;
        }
    }

    &__logo {
        margin-bottom: 1rem;

        @include tablet {
            padding-bottom: 1rem;
        }
    }

    &__links {
        list-style: none;
        display: flex;
        padding-top: 1rem 0;

        @include tablet {
            gap: 4rem;
        }
    }

    &__items {
        width: 16rem;
        text-align: center;

        & a {
            @include secondary-heading;
            text-decoration: none;
            color: $bandsite-white;
        }
    
        &--active {
            font-weight: 500;
            border-bottom: 3px solid $bandsite-white;
            padding-bottom: 1rem;
        }

        &--inactive a {
            color: $bandsite-mercury;
        }

        &:hover,
        &:active {
            border-bottom: 3px solid $bandsite-white;
            padding-bottom: 2rem;
        }

        @include tablet {
            width: 7rem;
            padding-bottom: 2rem;
        }

        @include desktop {
            @include regular-text2;
        }
    }
}