@use './variables' as *;
@use './mixins' as *;

// header nav styling

.nav {
    background-color: $primary-color1;
    color: $primary-color3;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.6rem 1.6rem 0;

        @include tablet {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            gap: 5rem;
            padding: 3rem 3.6rem 0;
        }

        @include desktop {
            gap: 8rem;
            padding: 3rem 10rem 0;
        }
    }

    &__header h2 {
        // @include secondaryHeading;
        font-size: 2rem;
        font-weight: 400;
        color: $primary-color3;
        text-transform: uppercase;
        padding-bottom: 1rem;

        @include tablet {
            @include primaryHeading;
            padding-bottom: 2rem;
        }

        @include desktop {
            // @include secondaryHeading2;
            padding-bottom: 2rem;
        }
    }

    &__links {
        @include secondaryHeading;
        list-style: none;
        display: flex;
        padding-top: 1rem 0;

        @include tablet {
            gap: 4rem;
        }
    }
    

    &__items {
        width: 16rem;
        text-align: center;
    
        &--active {
            font-weight: 700;
            border-bottom: 3px solid $primary-color3;
            padding-bottom: 1rem;
        }

        &:hover,
        &:active {
            border-bottom: 3px solid $primary-color3;
            padding-bottom: 2.5rem;
        }

        @include tablet {
            width: 7rem;
            padding-bottom: 2.5rem;
        }

        @include desktop {
            @include regularText2;
        }
    }
}