@use './fonts' as *;

// Primary Colors
$bandsite-black: #323232;
$bandsite-silver: #AFAFAF;
$bandsite-white: #FFF;

// Secondary Colors
$bandsite-darkblack: #000;
$bandsite-mercury: #E1E1E1;
$bandsite-alabaster: #FAFAFA;


//break points
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Typeface
$type-face: 'Avenir';
