@use './fonts' as *;

// Primary Colors
$primary-color1: #323232;
$primary-color2: #AFAFAF;
$primary-color3: #FFF;

// Secondary Colors
$secondary-color1: #000;
$secondary-color2: #E1E1E1;
$secondary-color3: #FAFAFA;


// Mobile Styles


//break points
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;



// Typeface
$type-face: 'Avenir';

// // font weight
// $font-weights: (
//     'regular': 400,
//     'semi-bold': 600,
//     'bold': 700
// )