@use './partials/fonts' as *;
@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/global' as *;
@use './partials/nav' as *;
@use './partials/footer' as *;



// main index.html styling

.hero {
    &--indeximage {
        background-image: linear-gradient(
        rgba(50, 50, 50, 0.4),
        rgba(50, 50, 50, 0.4)), 
        url(../assets/images/hero-bio.jpg);
    }
}

// --- article section ---

.article {

    @include tablet {
       @include flex-col-center;
    }

    &__wrapper {
        @include wrapper-props;
        // width: 100%;
        // max-width: calc(100% - 3.2rem);
        // margin: 0 auto;

        // @include tablet {
        //     max-width: calc(100% - 7.2rem);
        // }

        // @include desktop {
        //     max-width: 102rem;
        // }
    }

    &__container {
        padding-bottom: 1.6rem;

        @include tablet {
            padding-bottom: 3.6rem;
        }
    }

    &__header {
        @include primary-heading;
        padding: 2.4rem 0 16px;

        @include tablet {
            @include secondary-heading2;
            padding: 4.8rem 0 2.4rem;
        }

        @include desktop {
            padding: 4.8rem 0 3.6rem;
        }
    }

    &__mainbox {
        @include flex-col-center;
    }

    &__image {
        width: 100%;
        aspect-ratio: 16/9;

        @include tablet {
            width: 56rem;
            height: 30rem;
            object-fit: cover;
        }

        @include desktop {
            width: 85rem;
            height: 46rem;
        }
    }

    &__quotebox {
        padding: 1.6rem 0;

        @include tablet {
            padding: 2.4rem 0 3.6rem;
        }
    }

    &__quote {
        @include secondary-heading;
        font-weight: 700;
        width: 101%;
        margin: 0.5rem 0;
        
        @include tablet {
            @include primary-heading;
            font-size: 2.1rem;
            width: 79%;
            margin: 0 auto 1rem;
        }

        @include desktop {
            width: 65%;
            margin: 1rem 8rem;
        }

        &--small {
            @include secondary-heading;
            font-weight: 600;
        }
    }

    &__contentbox {
        @include flex-col;
        gap: 2rem;
    }

    &__subheader {
        @include secondary-heading;
        font-weight: 500;

        @include tablet {
            @include primary-heading;
            font-weight: 600;
            width: 83%;
            margin: auto;
        }

        @include desktop {
            width: 84%;
            margin: 0 auto;
        }
    }

    &__subbox {
        @include flex-col;
        gap: 2rem;

        @include tablet {
            display: flex;
            flex-direction: row;
            gap: 2.4rem;
            width: 83%;
            margin: auto;
        }

        @include desktop {
            gap: 3.4rem;
            width: 84%;
            margin: 0 auto;
        }
    }

    &__description {
        @include regular-text;
        width: 95%;

        @include tablet {
            @include regular-text2;
            inline-size: fit-content;
            width: 71%;
        }
    }
}

// --- gallery section ---

.gallery {
    background-color: $secondary-color3;
    padding-bottom: 2.4rem;

    @include tablet {
        padding-bottom: 3.6rem;
    }

    &__header {
        @include header-props;
        // @include primary-heading;
        // max-width: calc(100% - 3.2rem);
        // padding: 2.4rem 0 1.6rem;
        // margin: 0 auto;

        // @include tablet {
        //     @include secondary-heading2;
        //     max-width: calc(100% - 7.2rem);
        //     padding: 4.8rem 0 2.4rem;
        //     margin: 0 auto;
        // }

        // @include desktop {
        //     max-width: 102rem;
        // }
    }

    &__wrapper {
        @include wrapper-props;
        // width: 100%;
        // max-width: calc(100% - 3.2rem);
        // margin: 0 auto;

        // @include tablet {
        //     max-width: calc(100% - 7.2rem);
        // }

        // @include desktop {
        //     max-width: 102rem;
        // }
    }

    &__container {
        @include flex-col-center;
        flex-wrap: wrap;
        gap: 2rem;

        img {
            max-width: 100%;

            transition: all 0.3s;
            filter: grayscale(100%);

            &:hover {
                filter: none;
            }
        }

        @include tablet {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            justify-items: center;
            margin-bottom: 2rem;
            
        }
    }
}

// --- comments and form section ---

.comments {

    &__header {
        @include header-props;
        // @include primary-heading;
        // max-width: calc(100% - 3.2rem);
        // padding: 2.4rem 0 1.6rem;
        // margin: 0 auto;

        // @include tablet {
        //     @include secondary-heading2;
        //     max-width: calc(100% - 7.2rem);
        // }

        // @include desktop {
        //     max-width: 102rem;
        // }
    }

    &__wrapper {
        @include wrapper-props;
        // width: 100%;
        // max-width: calc(100% - 3.2rem);
        // margin: 0 auto;

        // @include tablet {
        //     max-width: calc(100% - 7.2rem);
        // }

        // @include desktop {
        //     max-width: 102rem;
        // }
    }

    &__submission, &__usercards {
        width: 100%;
        display: flex;
        gap: 1rem;

        @include tablet {
            justify-content: center;
            gap: 2rem;
        }
    }

    &__imagebox {
        max-width: 100%;
    }

    &__image {
        background-image: url(../assets/images/Mohan-muruge.jpg);
        background-position: 25% 50%;
        background-size: cover;
        width: 3.6rem;
        height: 3.6rem;
        border-radius: 50%;
        margin: 3.4rem 0;

        @include tablet {
            width: 4.8rem;
            height: 4.8rem;
        }
    }

    &__formbox {
        width: 100%;
        resize: vertical;

        @include tablet {
            width: fit-content;
        }
    }

    &__form {
        @include flex-col;
        gap: 1rem;

        @include tablet {
            align-items: flex-end;
        }
    }

    &__formcontain {
        @include flex-col;
    }
    
    &__formheader {
        @include label-text2;
        text-transform: uppercase;
        font-weight: 500;
        color: $primary-color2;
        padding: 0.4rem 0;
    }

    & input, textarea {
        @include regular-text2;
        padding: 1.2rem;
        border: 1px solid $secondary-color2;
        border-radius: 4px;
        background-color: $secondary-color3;

        &::placeholder {
            @include regular-text2;
            color: $primary-color1;
        }

        &:focus {
            outline: none;
            border: 1px solid $primary-color1;
        }

        &:required:focus:invalid {
            outline: none;
            border: 1px solid #D22D2D;
        }

        @include tablet {
            width: 51rem;
            padding: 1.6rem;
        }

        @include desktop {
            width: 43rem;
        }
    }

    & textarea { 
        height: 10rem;
        resize: none;
    }

    & button {
        @include secondary-heading;
        font-weight: 600;
        text-transform: uppercase;
        color: $secondary-color3;
        background-color: $primary-color1;
        border: 1px solid $primary-color1;
        border-radius: 4px;
        padding: 1.2rem;
        margin: 0.5rem 0 0;

        @include tablet {
            @include regular-text2;
            width: 15rem;
            padding: 1rem 1.6rem;
        }
    }

    &__linebreak {
        background-color: $secondary-color2;
        height: 0.1rem;
        border: none;
        margin: 1.6rem 0;

        @include tablet {
            margin: 2.4rem auto;
            width: 58rem;
        }

        @include desktop {
            width: 50rem;
        }
    }

    // &__usercards {
    //     display: flex;
    //     gap: 1rem;

    //     @include tablet {
    //         justify-content: center;
    //         gap: 2rem;
    //     }
    // }
    // shares the same code with submissions

    &__userimage {
        width: 3.6rem;
        height: 3.6rem;
        border-radius: 50%;
        background-color: $secondary-color2;

        @include tablet {
            width: 4.8rem;
            height: 4.8rem;
        }
    }

    &__userinfo {
        @include regular-text;
        @include flex-col;
        width: 100%;

        @include tablet {
            @include regular-text2;
            width: 51rem;
        }

        @include desktop {
            width: 43rem;
        }
    }

    &__usercontent {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
    }

    &__username {
        font-weight: 700;
    }

    &__date {
        color: $primary-color2;
    }
}

