@use './partials/fonts' as *;
@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/global' as *;
@use './partials/header' as *;
@use './partials/footer' as *;



// all index.html styling

.hero {
    background-image: url(../assets/images/hero-bio.jpg);
    background-position: center;
    background-size: cover;
    min-width: 100vw;
    height: 30vh;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: 0; right: 0;
        top: 0; bottom: 0;
        background-color: #32323279;
        z-index: 1;
    }

    &__container {
        display: flex;
    }

    &__header {
        @include primaryHeading;
        padding: 1.6rem;
        color: $primary-color3;
        transform: translateY(130%);
        z-index: 2;

        @include tablet {
            @include primaryHeading2;
            padding: 2.6rem;
        }
    }

    @include tablet {
        height: 60vh;
        width: 100vw;
    }

}

.article {
    padding: 1.6rem;

    @include tablet {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    // &__container {

    //    @include tablet {
    //         display: grid;
    //         justify-items: center;
    //    }
    // }

    &__header {
        @include primaryHeading;
        margin: 1.6rem 0;

        @include tablet {
            @include secondaryHeading2;
            margin: 2rem;
            // TODO - FIX inline size for quote and description
        }
    }

    &__mainbox {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet {
            display: grid;
            justify-content: center;
        }
    }

    &__image {
        max-width: 90vw;

        @include tablet {
           padding: 2rem 4rem;
        }
    }

    &__quote {
        @include secondaryHeading;
        font-weight: 700;
        margin: 0.5rem 0;
        width: 101%;
        
        @include tablet {
            @include primaryHeading;
            padding: 0 4rem;
            width: 95%;
        }

        &--small {
            @include secondaryHeading;
            font-weight: 600;
        }
    }

    &__content-section {
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @include tablet {
            padding: 3rem 0;
        }
    }

    &__subheader {
        @include secondaryHeading;
        font-weight: 400;
        margin-top: 2rem;

        @include tablet {
            @include primaryHeading;
            font-weight: 600;
            width: 85%;
            margin: 0 5rem;
        }
    }

    &__subbox {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @include tablet {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
        }
    }

    &__description {
        @include regularText;
        width: 95%;

        @include tablet {
            @include regularText2;
            inline-size: fit-content;
            width: 71%;
        }
    }
}

.gallery {
    background-color: $secondary-color3;
    padding: 1.6rem;

    &__header {
        @include primaryHeading;
        margin: 1rem 0;

        @include tablet {
            @include secondaryHeading2;
            margin: 2rem 1rem;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 2rem;

        img {
            width: 90vw;

            @include tablet {
                width: 95%;
            }
        }

        @include tablet {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-items: center;
            margin-bottom: 2rem;
            
        }
    }
}


