@font-face {
  font-family: "Avenir";
  src: url(../../assets/font/AvenirNextLTPro-Regular.otf) format("otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/font/AvenirNextLTPro-Bold.otf) format("otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/font/AvenirNextLTPro-Demi.otf) format("otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir-Reg-ttf";
  src: url(../../assets/font/alternative-files/AvenirNextLTPro.ttf) format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir-Reg-ttf";
  src: url(../../assets/font/alternative-files/AvenirNextLTProBold.ttf) format("ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir-Demi-ttf";
  src: url(../../assets/font/alternative-files/AvenirNextLTProDemi.ttf) format("ttf");
  font-weight: 600;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: "Avenir";
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.hero {
  background-position: center;
  background-size: cover;
  min-width: 100%;
  height: 20rem;
}
@media (min-width: 768px) {
  .hero {
    height: 50rem;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 65rem;
  }
}
.hero__wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: calc(100% - 3.2rem);
  margin: 0 auto;
}
@media (min-width: 768px) {
  .hero__wrapper {
    max-width: calc(100% - 7.2rem);
  }
}
@media (min-width: 1280px) {
  .hero__wrapper {
    max-width: 102rem;
  }
}
.hero__header {
  font-family: "Avenir", sans-serif;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #FFF;
}
@media (min-width: 768px) {
  .hero__header {
    font-family: "Avenir", sans-serif;
    font-size: 6rem;
    line-height: 6.8rem;
  }
}

.nav {
  background-color: #323232;
  color: #FFF;
}
.nav__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.6rem 1.6rem 0;
}
@media (min-width: 768px) {
  .nav__container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 5rem;
    max-width: calc(100% - 7.2rem);
    padding: 2.4rem 0 0;
    margin: 0 auto;
  }
}
@media (min-width: 1280px) {
  .nav__container {
    gap: 8rem;
    max-width: 102rem;
  }
}
.nav__logo {
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .nav__logo {
    padding-bottom: 1rem;
  }
}
.nav__links {
  list-style: none;
  display: flex;
  padding-top: 1rem 0;
}
@media (min-width: 768px) {
  .nav__links {
    gap: 4rem;
  }
}
.nav__items {
  width: 16rem;
  text-align: center;
}
.nav__items a {
  font-family: "Avenir", sans-serif;
  font-size: 1.4rem;
  line-height: 2.2rem;
  text-decoration: none;
  color: #FFF;
}
.nav__items--active {
  font-weight: 500;
  border-bottom: 3px solid #FFF;
  padding-bottom: 1rem;
}
.nav__items--inactive a {
  color: #E1E1E1;
}
.nav__items:hover, .nav__items:active {
  border-bottom: 3px solid #FFF;
  padding-bottom: 2rem;
}
@media (min-width: 768px) {
  .nav__items {
    width: 7rem;
    padding-bottom: 2rem;
  }
}
@media (min-width: 1280px) {
  .nav__items {
    font-family: "Avenir", sans-serif;
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}

.footer {
  background-color: #323232;
  color: #FFF;
}
@media (min-width: 768px) {
  .footer {
    position: relative;
  }
}
.footer__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: calc(100% - 3.2rem);
  padding-bottom: 1.6rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .footer__container {
    gap: 2rem;
    max-width: calc(100% - 7.2rem);
    padding-bottom: 2.6rem;
  }
}
@media (min-width: 1280px) {
  .footer__container {
    max-width: 102rem;
    gap: 1.5rem;
  }
}
@media (min-width: 768px) {
  .footer__socialbox {
    display: flex;
    align-items: baseline;
    gap: 4rem;
  }
}
@media (min-width: 1280px) {
  .footer__socialbox {
    gap: 5rem;
  }
}
.footer__header {
  font-family: "Avenir", sans-serif;
  font-size: 2.4rem;
  line-height: 3.2rem;
  padding: 2.4rem 0 0;
}
@media (min-width: 768px) {
  .footer__header {
    font-family: "Avenir", sans-serif;
    font-size: 3.6rem;
    line-height: 4.4rem;
    font-weight: 600;
    padding: 4.8rem 0 2.4rem;
  }
}
.footer__iconbox {
  display: flex;
  gap: 2.5rem;
  padding-top: 1rem;
}
.footer__icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
}
.footer__contactbox {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 768px) {
  .footer__contactbox {
    display: flex;
    flex-direction: row;
    gap: 6rem;
  }
}
@media (min-width: 1280px) {
  .footer__contactbox {
    gap: 7rem;
  }
}
.footer__name, .footer__title {
  font-family: "Avenir", sans-serif;
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: 600;
}
.footer__address {
  font-family: "Avenir", sans-serif;
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-style: normal;
  padding: 1.5rem 0 1rem;
}
@media (min-width: 768px) {
  .footer__address {
    font-family: "Avenir", sans-serif;
    font-size: 1.4rem;
    line-height: 2.2rem;
    padding-top: 2rem;
  }
}
.footer__email, .footer a {
  font-family: "Avenir", sans-serif;
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: #FFF;
  font-style: normal;
  margin: 1rem 0;
}
@media (min-width: 768px) {
  .footer__email, .footer a {
    font-family: "Avenir", sans-serif;
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}
.footer__copyright--logo {
  margin: 3rem 0 1rem;
}
@media (min-width: 768px) {
  .footer__copyright--logo {
    margin: 0;
    position: absolute;
    left: 80%;
    top: 15%;
  }
}
.footer__copyright--text {
  font-family: "Avenir", sans-serif;
  font-size: 1rem;
  line-height: 2rem;
}
@media (min-width: 768px) {
  .footer__copyright--text {
    font-family: "Avenir", sans-serif;
    font-size: 1.4rem;
    line-height: 2.2rem;
    padding-top: 2rem;
  }
}

.hero--showimage {
  background-image: linear-gradient(rgba(50, 50, 50, 0.4), rgba(50, 50, 50, 0.4)), url(../assets/images/hero-shows.jpg);
  background-position: 0%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 31rem;
}
@media (min-width: 768px) {
  .hero--showimage {
    height: 50rem;
  }
}
@media (min-width: 1280px) {
  .hero--showimage {
    background-position: 0 27%;
    height: 60rem;
  }
}
.hero__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
@media (min-width: 1280px) {
  .hero__container {
    flex-direction: row;
    align-items: center;
  }
}
.hero__title {
  font-family: "Avenir", sans-serif;
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: #FFF;
}
@media (min-width: 768px) {
  .hero__title {
    font-family: "Avenir", sans-serif;
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 700;
  }
}
.hero__header--showheader {
  width: 80%;
}
.hero__song {
  margin: 1rem 0;
}
.hero iframe {
  border-radius: 4px;
}
@media (min-width: 768px) {
  .hero iframe {
    width: 40rem;
  }
}
@media (min-width: 1280px) {
  .hero iframe {
    font-family: "Avenir", sans-serif;
    font-size: 1.2rem;
    line-height: 2rem;
    width: 41rem;
    height: 15rem;
  }
}

.shows {
  margin: 1rem 0;
}
@media (min-width: 1280px) {
  .shows {
    display: flex;
    justify-content: center;
    gap: 10rem;
    margin: 4rem 0 1rem;
  }
}
.shows__header {
  font-family: "Avenir", sans-serif;
  font-size: 2.4rem;
  line-height: 3.2rem;
  max-width: calc(100% - 3.2rem);
  padding: 2.4rem 0 1.6rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .shows__header {
    font-family: "Avenir", sans-serif;
    font-size: 3.6rem;
    line-height: 4.4rem;
    max-width: calc(100% - 7.2rem);
  }
}
@media (min-width: 1280px) {
  .shows__header {
    max-width: 102rem;
  }
}
@media (min-width: 1280px) {
  .shows__header {
    padding: 0;
    margin: 0;
  }
}
.shows__container {
  padding-bottom: 1.6rem;
}
@media (min-width: 768px) {
  .shows__container {
    padding-bottom: 3.6rem;
  }
}
.shows__cards {
  width: 100%;
  height: 100%;
  max-width: calc(100% - 3.2rem);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  .shows__cards {
    max-width: calc(100% - 7.2rem);
  }
}
@media (min-width: 1280px) {
  .shows__cards {
    max-width: 102rem;
  }
}
@media (min-width: 768px) {
  .shows__cards {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1.4rem 0;
  }
  .shows__cards:nth-child(n+2) .shows__info .shows__titles {
    display: none;
  }
  .shows__cards:first-child .shows__button {
    margin-top: 3.4rem;
  }
}
@media (min-width: 1280px) {
  .shows__cards {
    gap: 8rem;
  }
}
.shows__titles {
  font-family: "Avenir", sans-serif;
  font-size: 1rem;
  line-height: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #AFAFAF;
}
@media (min-width: 768px) {
  .shows__titles {
    margin-bottom: 2.4rem;
  }
}
.shows__date {
  font-family: "Avenir", sans-serif;
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 700;
}
.shows__venue, .shows__location {
  font-family: "Avenir", sans-serif;
  font-size: 1.3rem;
  line-height: 1.8rem;
}
.shows__button {
  font-family: "Avenir", sans-serif;
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #FAFAFA;
  background-color: #323232;
  border: 1px solid #323232;
  border-radius: 4px;
  padding: 1.2rem;
  margin: 0.5rem 0 0;
}
@media (min-width: 768px) {
  .shows__button {
    font-family: "Avenir", sans-serif;
    font-size: 1.4rem;
    line-height: 2.2rem;
    padding: 0.5rem 1.2rem;
  }
}
@media (min-width: 768px) {
  .shows__button {
    padding: 0.5rem 2.2rem;
  }
}
.shows__linebreak {
  background-color: #E1E1E1;
  height: 0.1rem;
  border: none;
  margin: 1.6rem 0;
}
@media (min-width: 768px) {
  .shows__linebreak {
    margin: 0 1.8rem;
  }
}/*# sourceMappingURL=shows.css.map */